/* line 1, ../../dev/_scss/_reset.scss */
ul, ol {
  list-style-type: none;
}

/* line 1, ../../dev/_scss/_index.scss */
html, body {
  height: 100%;
}

/* line 5, ../../dev/_scss/_index.scss */
.container-wrap {
  position: absolute;
  top: 90px;
  left: 3%;
  bottom: 2%;
  right: 3%;
}

/* line 13, ../../dev/_scss/_index.scss */
.btns-2x2 {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 17, ../../dev/_scss/_index.scss */
.btns-2x2 .btn-2x2-wrapper {
  position: absolute;
  width: 50%;
}
/* line 20, ../../dev/_scss/_index.scss */
.btns-2x2 .btn-2x2-wrapper:nth-child(1) {
  top: 0;
  left: 0;
  bottom: 50%;
}
/* line 25, ../../dev/_scss/_index.scss */
.btns-2x2 .btn-2x2-wrapper:nth-child(2) {
  top: 0;
  left: 50%;
  bottom: 50%;
}
/* line 30, ../../dev/_scss/_index.scss */
.btns-2x2 .btn-2x2-wrapper:nth-child(3) {
  top: 50%;
  left: 0;
  bottom: 0;
}
/* line 35, ../../dev/_scss/_index.scss */
.btns-2x2 .btn-2x2-wrapper:nth-child(4) {
  top: 50%;
  left: 50%;
  bottom: 0;
}
/* line 40, ../../dev/_scss/_index.scss */
.btns-2x2 .btn-2x2-wrapper .btn {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 60px;
}

/* line 1, ../../dev/_scss/_enter.scss */
.scroll-y {
  overflow-y: auto;
}

/* line 5, ../../dev/_scss/_enter.scss */
.last-order {
  margin-bottom: 0;
  box-sizing: border-box;
}

/* line 11, ../../dev/_scss/_enter.scss */
.table td, .table th {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 15, ../../dev/_scss/_enter.scss */
.table tr.primary td, .table tr.primary th {
  background-color: #2196f3;
  border-color: #2196f3;
  color: #fff;
}

/* line 25, ../../dev/_scss/_enter.scss */
.list-group .list-group-item h4,
.list-group .list-group-item p {
  margin: 0;
}
/* line 29, ../../dev/_scss/_enter.scss */
.list-group .list-group-item h4 {
  font-size: 20px;
}
/* line 32, ../../dev/_scss/_enter.scss */
.list-group .list-group-item p {
  font-size: 15px;
}

/* line 39, ../../dev/_scss/_enter.scss */
.confirm-area th {
  width: 80px;
}

/* line 1, ../../dev/_scss/tutorial/_style.scss */
.tu-bg {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 15, ../../dev/_scss/tutorial/_style.scss */
.tu-bg.active {
  opacity: 1;
  pointer-events: auto;
}
/* line 19, ../../dev/_scss/tutorial/_style.scss */
.tu-bg .tu-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}
/* line 25, ../../dev/_scss/tutorial/_style.scss */
.tu-bg .tu-header .header-item {
  padding: 0 15px;
  font-size: 20px;
  line-height: 80px;
  color: #eee;
  cursor: pointer;
}
/* line 31, ../../dev/_scss/tutorial/_style.scss */
.tu-bg .tu-header .header-item .glyphicon {
  margin-right: 5px;
}
/* line 36, ../../dev/_scss/tutorial/_style.scss */
.tu-bg .alert {
  display: none;
}
/* line 39, ../../dev/_scss/tutorial/_style.scss */
.tu-bg .tu-tap-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 35px;
  line-height: 30px;
  font-size: 16px;
  color: #ccc;
  text-align: center;
}
